body {
	background-color: #ffff99;
}

/*img {
	position: absolute;
	margin: auto;  
  	left:0;
  	right: 0;
  	top: 0;
  	bottom: 0; 
}*/

#openthepage {
	background-color: #ffff66;
	position: absolute;
	margin: auto;  
  	left:0;
  	right: 0;
  	top: 0;
  	bottom: 0;
}